/target/

.project
node_modules
.classpath
.settings
.metals
.vscode

# Typescript
typescript_lang/out

#Rust
#Added by cargo
rust/target

#Scala
scala/project
scala/target
scala/.idea

# Golang
golang/bin
golang/pkg
